* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, html {
    background: #f7f7f7;
}

.wrap {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.shadow-m {
    box-shadow: 0 10px 10px rgb(219, 219, 219);
}

@media(max-width: 768px) {
    .wrap {
        margin: 20px;
    }
}